.card-body{
    background-color:white;
}
.card-header{
    color: #fff;
    background-color: #2572b4;
    border-color: #2572b4;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size:18px;
}

